/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.eisenhower-matrix {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.eisenhower-matrix__img {
  width: 100%;
}

.eisenhower-matrix__link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .eisenhower-matrix { 
    text-align: center;
  }
  
}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.adding-section__wrapper {
  display: flex;
}

.list {
  margin: 0;
  padding: 0px;
}

.list-item {
  list-style: none;
}

.input,
.button{
  outline: none;
}

.button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.button:hover {
  color: #3a3a3a;
}

/* Heading */
.task-title{
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.input_text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.input_text:focus {
  color: #333;
}

/* New Task */
.task-title {
  display: block;
  margin: 0 0 20px;
}

.adding-section__input {
  width: 318px;
}

/* Task list */
.list-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item__checkbox,
.list-item__label,
.list-item__input,
.list-item__button {
  vertical-align: middle;
}

.list-item__checkbox {
  margin: 0 10px;
}

.list-item__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.list-item__input{
  width: 226px;
}

.button__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.button .button__img:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed-tasks .list-item__label{
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.list .input_text {
  display: none;
}

.list-item_edit-mode .input_text {
  display: inline-block;
  width: 224px;
}

.list-item_edit-mode .list-item__label {
  display: none;
}